@import '../../styles/mixins';
@import '../../styles/vars';

.filtrar {
    @include flexColCenter;
    width: 100%;
}

.filtrar_button {
    background-color: $blue;
    border-radius: $borderRounded;
    border: none;
    bottom: 10px;
    color: white;
    font-weight: bold;
    height: 36px;
    padding: 7.5px 21px;
    position: fixed;
    width: 156px;
}