$phone-width: 0px;
$tablet-width: 601px;
$desktop-width: 1024px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin phone {
    @media (min-width: $phone-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin flexSpaceBetween{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexRowSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}