// Widths

$widthIcons: 30px;


// Border Radius

$borderRounded: 4px;


//Colors

$gray: #E5E5E5;
$blue: #0000A3;


//Sizes

$fontSizeXS: 16px;
$fontSizeS: 20px;
$fontSizeM: 28px;
$fontSizeL: 34px;
$fontSizeXL: 40px;