@import '../../styles/mixins';
@import '../../styles/vars';

.wrapper {
    background-color: rgb(0, 0, 0, 50%);
    bottom: 0;
    height: 100%;
    position: fixed;
    width: 100%;
}

.modal {
    @include flexColSpaceBetween;
    background-color: white;
    bottom: 0;
    height: 375px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.close {
    @include flexColCenter;
    background-color: white;
    border-radius: $borderRounded;
    border: 1px solid $gray;
    height: 40px;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 40px;
    z-index: 150;
}

.title {
    font-size: $fontSizeL;
    font-weight: bold;
    margin-top: 20px;
}

.input {
    @include flexRowSpaceBetween;
    border-bottom: 1px solid whitesmoke;
    font-size: $fontSizeS;
    margin: 10px 0;
    width: 100%;
    input {
        appearance: none;
        border-radius: $borderRounded;
        border: 1px solid $gray;
        height: 24px;
        width: 24px;
    }
    input:checked {
        background-color: $blue;
    }
}

.buttons {
    @include flexRowCenter;
    width: 100%;
}

.button_limpiar, .button_filtrar {
    border-radius: $borderRounded;
    border: none;
    font-weight: bold;
    height: 40px;
    margin: 0 10px;
    width: 100%;
}

.button_filtrar {
    @include flexRowCenter;
    background-color: $blue;
    color: white;
}

.filtros_number{
    background-color: white;
    border-radius: 12px;
    color: black;
    height: 18px;
    margin-left: 5px;
    width: 26px;
}

.filtro_icon {
    height: 18px;
    margin-left: 5px;
    width: 18px;
}